
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
  <app-gallery [images]= "images" > </app-gallery>

  <hr>

  <div>
    <div>
      <img class = "big" [src]="galleryBig" alt="">
    </div>
    <div>

      <app-image-frame
        *ngFor="let image of images"
        (imgEvent)="galleryRefresh($event)"
        [images]="image">

      </app-image-frame>
    </div>
  </div>

</div>
<br>
<div>
  {{currentPhone}}
</div>
<app-worker-card *ngFor="let item of contacts"
                 (callEvent)="callToPhone($event)"
                 [data]="item">

</app-worker-card>

<div [appSetColor]= "byColor" >
  <h3>Directives</h3>

  <input type="color" [(ngModel)] = "byColor" >
  <br>
  <input type="text" [ngModel]="'Szymon'">
  <input type="text"  ngModel="{{myName}}">
  <input type="text" [ngModel]="myName">
  <input type="text" [(ngModel)]="myName">
  <br>

  <input type="text"
         (input)="myName = $event.target.value"
         [value]="myName">
  {{myName}}

  <br>

  <br>

  <input type="checkbox"
         (change)="access = $event.target.checked"
         [checked]="access">

  <div *ngIf="access">
    You have access
  </div>
  <br>
  <input type="checkbox"
         [(ngModel)] = "access2">

  <div *ngIf="access2">
    You have access
  </div>
  <ul>
    <li [ngClass] =" {'big-info': o , 'bg-danger' : !o}"
    *ngFor="let contact of contacts; let idx = index; let o = odd">
      {{idx+1}}  {{contact.name}}  {{contact.phone}} {{o}}
    </li>
  </ul>

  <ol>
    <li *ngFor="let item of items">
      {{item}}
    </li>
  </ol>
</div>

